In [3]:
colors = ["red","black","white","blue"]
for x in colors:
    print(x)

red
black
white
blue

In [7]:
for x in "python":
    print(x)

p
y
t
h
o
n

In [ ]:
name = ["nida","zikra","misbah"]
for x in name

In [21]:
 a = [4,6,1,2,5,3]
n = len(a)
for i in range(0,n,2):
    a[i]
    print(i)

0
2
4

In [6]:
mylist = ["misbah","nida","anam"]
for i in mylist:
    print(i)

misbah
nida
anam

In [18]:
mylist = ["misbah","nida","anam"]
for i in mylist:
    print(i)
    if i == "nida":
        break

misbah
nida

In [21]:
mylist = ["misbah","nida","anam"]
for i in mylist:
    if i == "nida":
        continue
print(i)

anam

In [7]:
for i in range(1,11):
    b = i
    b = i*8
    print(b)

8
16
24
32
40
48
56
64
72
80

In [22]:
def func(a):
    for i in range(1,11):
        b = i
        b = a*i
        print(a , '*',i,'=',b) 
func(4)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [59]:
dic={'name': 'the past', 'price': '456'}
# print(dic.get("price"))
# x = list(dic.values())[1]
print(dic["price"])

# print(x)

456

In [66]:
books= [{'name': 'the past', 'price': '456'}, {'name': 'herry potter', 'price': '765'}]
# for i in books:
#     print(i)
# for  i in dic.items():
#     print(i.values())
z= books[1]["price"]
print(z)

765