In [2]:
def my_function():
    print("my python page")
    print("this is my first code")
my_function()

my python page
this is myb first code

In [33]:
def my_func(furits):
    for x in furits:
        print(x)
    
mylist =["banana","mango","kiwi"]  
my_func(mylist)

banana
mango
kiwi

In [19]:
def my_function(colors = "red"):
    print("this is" + " " + colors)
my_function("blue")
my_function("black")
my_function("white")
my_function()

this is blue
this is black
this is white
this is red

In [35]:
def my_function(x):
    return 4 * x
print(my_function(6))
print(my_function(3))
print(my_function(9))

24
12
36

In [48]:
def my_func(y):
    return 8 * y

print(my_func(3))
print(my_func(8))
print(my_func(6))

24
64
48

In [62]:
def my_function(fname):
    print(fname  + " " + "age" + " " + "20")
my_function("nida")
my_function("anjum")
my_function("afreen")

nida age 20
anjum age 20
afreen age 20

In [22]:
def my_function(city):
    for x in city:
        print(x)
        
newlist = ["pune","mumbai","kolkata","gujrat"]   

my_function(newlist)

pune
mumbai
kolkata
gujrat

In [54]:
def my_function(colors = "red"):
    print("the color is" + " " + colors)
my_function("blue")
my_function("black")
my_function()

the color is blue
the color is black
the color is red

In [56]:
def my_function(colors):
    for i in colors:
         print(i)
        
my_func_list = ["red", "blue","green","black","orange"]  
my_function(my_func_list)

red
blue
green
black
orange

# Creating a Function

In [60]:
def my_function():
    print("hello wolrd")
    
my_function()

hello wolrd

# Arguments

In [81]:
def my_func(name):
    print(name +" " + "khan" )
my_func("nida")
my_func("misbah")
my_func("aqsa")

nida khan
misbah khan
aqsa khan

# args

In [107]:
def my_func(*numbers):
    print("this no" + " " + numbers[3])
my_func("2","6","4","66",)

this no 66

# kwargs

In [6]:
def my_func(**kwargs):
    print("name": "misbah","age" : 20,"lname":"khan")
    pass
my_func("name")

SyntaxError: invalid syntax (1675564829.py, line 2)

In [71]:
def my_func(a,b):
    print(a + b)
my_func(3 , 5)

8

In [64]:
# squre fined by function

In [61]:
def my_func(a):
    b = a**2
    return b
i = my_func(4)
print(i)

16

In [65]:
# cube fined by function

In [58]:
def my_func(a):
    b = a**3
    return b
s = my_func(6)
print(s)

216

In [63]:
def my_func(a):
    b = a*2
    return b
my_func(7)

14

In [72]:
def my_func(a,b):
    return (a + b)
my_func(3 , 5)

8

In [66]:
# table by function

In [45]:
def my_func(a):
    for i in range(1,11):
        b = i * a 
        print(b)
a = my_func(5)

5
10
15
20
25
30
35
40
45
50

In [48]:
def my_func(a):
    for i in range(1,11):
        b = i *a
        print(b)
my_func(7)

7
14
21
28
35
42
49
56
63
70

In [79]:
def my_func(x):
    for i in x:
        b = i**3
        print(b)
c = [8,7,6,5]
my_func(c)

512
343
216
125

In [78]:
def my_func(a):
     for i in a:
            c = i**3
            print(c)
            
x = [2,3,4]
my_func(x)

8
27
64

In [67]:
# fined list no of squre

In [76]:
def my_func(a):
    for i in a:
        print(i*i)
a=[2,3,4]
(my_func(a))

4
9
16

# lambda function

In [10]:
x = lambda a , b ,c: a + b + c
print(x(5,9,12))

26

In [8]:
x = lambda a ,b: a * b
print(x(2,9))

18

In [50]:
a = lambda x,y,z: x*y*z
print(a(2,7,4))

56

In [14]:
def my_func(n):
    return lambda a : a * n
mynew_func = my_func(5)
print(mynew_func(9))

45

In [19]:
def my_new_func(a):
    return lambda z : z * a

my_function = my_new_func(9)
print(my_function(6))

54

In [80]:
def my_func(y):
    return lambda a : a *y

my_function = my_func(4)
my_new_func = my_func(7)

print(my_function(9))
print(my_new_func(7))

36
49

In [2]:
s = "pynative"
print(s[::-2])

eiay

In [8]:
def myfunc(z):
    return lambda b : b*z
newfunc = myfunc(4)
function = myfunc(3)
print(newfunc(7))
print(function(8))

28
24

In [20]:
z = lambda  a,b,c:a + b + c
print (z(3,5,6))

14

In [24]:
a = lambda x,y, : x *y
print(a(3,9,))

27

In [2]:
def my_func(n):
    return lambda a:a*n
new_func = my_func(3)
function = my_func(6)
print(new_func(7))
print(function(3))

21
18

In [3]:
x = lambda a,b:a + b
print(x(4,8))

12

In [1]:
def my_func():
    print("hello")
my_func()

hello

In [4]:
def func(a,b):
    return a*b 
c = func(7,9)
print(c)

63

In [22]:
def func():
    for i in range(1,11):
        b = i
        print(b)
func()

1
2
3
4
5
6
7
8
9
10

In [12]:
def myfunc(a):
    for i in a:
        if i %2==0:
            c.append("even")
        else:
            c.append("odd")
            
c = []
b = [8,2,5,6,7]
myfunc(b)
print(c)

['even', 'even', 'odd', 'even', 'odd']

In [13]:
def new_func(a):
    for i in a:
        if i %2==0:
            print("even")
        else:
            print("odd")
b = [4,9,2,5,6]
new_func(b)

even
odd
even
odd
even

In [30]:
a =[63,78,90,2,3]
b = 0
for i in a:
    if i > b:
        b = i
print(b)

90

In [31]:
a = [9,0.3,7,4,1]
b = 3
for i in a:
    if i < b:
        b = i
print(b)

0.3