the process of inheriting the properties of the parent class into child is called inheritance.
the main purpose of inheritance is reusability.

# single inheritance

In [4]:
class Company:
    def company_info(self):
        print("the company name is ABC")

class Empolyee(Company):
    def empolye_info(self):
        print("the numbers employe is 32")
        
emp = Empolyee()
emp.company_info()
emp.empolye_info()

the company name is ABC
the numbers employe is 32

In [16]:
class company:
    def __init__(self,com_name, location):
        self.com_name = com_name
        self.location = location
class Employee(company):
    def __init__(self,com_name,location,emp_name,age):
        super().__init__(com_name,location)
        self.emp_name = emp_name
        self.age = age
    def show(self):
        print("Company_name:", self.com_name)
        print("Company_Location:", self.location) 
        print("Employee_name:", self.emp_name)
        print("Employee_age:", self.age)        
e1 = Employee("MCC","BKC","MISBAH",21)
e1.show()

Company_name: MCC
Company_Location: BKC
Employee_name: MISBAH
Employee_age: 21

In [7]:
class Techer:
    def __init__(self,tec_name,salary):
        self.tec_name = tec_name 
        self.salary = salary
class Student(Techer):
    def __init__(self,tec_name,salary,name,age):
        super().__init__(tec_name,salary)
        self.name = name 
        self.age = age
    def show(self):
        print("techer name is :", self.tec_name)
        print("the salary is :", self.salary)
        print("stud name is :", self.name)
        print("stud age :" , self.age)
        
S1 = Student("Aqsa", 9000, "misbah", 21)
S1.show()

techer name is : Aqsa
the salary is : 9000
stud name is : misbah
stud age : 21

In [17]:
class Parent:
    def __init__(self,p_name,p_age):
        self.p_name = p_name
        self.p_age = p_age
class Child(Parent):
    def __init__(self,p_name, p_age ,name,age):
        super().__init__(p_name,p_age)
        self.name = name
        self.age = age
    def show(self):
        print("the parent name is :" ,self.p_name)
        print("parent age:", self.p_age )
        print("the child name :",self.name)
        print("child age :",self.age)

p1 = Child("khan naeem", 54, " affan", 20)
p1.show()

the parent name is : khan naeem
parent age: 54
the child name :  affan
child age : 20

# Multiple Inheritance

In [88]:
class Person :
    def  person_info(self):
        print("my name is afreen")
        print("My age is 21")
        
class Company:
    def company_info(self):
        print("My name is misbah")
        print("my age is 21")
        
class Employe(Company,Person):
    def Emp_info(self):
        print("My name is zikra")
        print("my age is 21")
        
        
obje = Employe()

obje.Emp_info()
obje.person_info()
obje.company_info()

My name is zikra
my age is 21
my name is afreen
My age is 21
My name is misbah
my age is 21

In [117]:
class Persons:
    def persons_info(self,name,age):
        print("person name :" , name)
        print("age:", age)
class Companyy:
    def companyy_info(self,com_name,location):
        print("company name :",com_name )
        print("location :" ,location)
        
class Empolyee(Persons,Companyy):
    def employee_info(self,emp_name,salary):
        print("employe name :", emp_name)
        print("salary :", salary)

s1 = Empolyee()        

s1.persons_info("zikra", 22)
s1.companyy_info("BCA", "kurla")
s1.employee_info("misbah", 34000)

person name : zikra
age: 22
company name : BCA
location : kurla
employe name : misbah
salary : 34000

# multilevel inheritance

In [91]:
class Parent:
    def parent_info(self):
        print("parent name is afreen")
        print("parent age is 23")
class Child1(Parent):
    def child1_info(self):
        print("child name is misbah")
        print("child age is 20")
class Child2(Child1):
    def child2_info(self):
        print("the second child name zikra")
        print("the second child age is 21")
emp = Child2()

emp.parent_info()
emp.child1_info()
emp.child2_info()

parent name is afreen
parent age is 23
child name is misbah
child age is 20
the second child name zikra
the second child age is 21

# Hierarchical Inheritance

In [99]:
#one parent class and multiple child classes.

In [1]:
class Vehicle:
    def vehicle_info(self):
        print("this is vehicle")
        
class Car(Vehicle):
    def car_info(self,name,model):
        self.name = name 
        self.model = model
        print("car name :", name)
        print("car model :" , model)
        
class Bike(Car):
    def bike_info(self,name,model):
        self.name = name
        self.model = model
        print("bike name :", name)
        print("bike model :" , model)

obj1 = Car() 
obj1.vehicle_info()
obj1.car_info("BMW", "AC34")
 
obj2 = Bike()
obj2.vehicle_info()
obj2.bike_info("KTM", "AS233")

this is vehicle
car name : BMW
car model : AC34
this is vehicle
bike name : KTM
bike model : AS233

# Hybrid Inheritance
when inheritance is consist of multiple type or a combination of different inheritance is called hybrid inheritance.

In [125]:
class Vehicle:
    def v_info(self):
        print("parent class")
class Car(Vehicle):
    def car_info(self,c_name):
        self.c_name = c_name
        print("car name:", c_name)                     
    
class Truck(Vehicle):
    def truck_info(self,T_name):
        self.T_name = T_name
        print("truck name:", T_name)
        
class Bike(Car,Vehicle):
    def bike_info(self,bname):
        self.bname = bname
        print("bike name :", bname)

obje = Bike()
obje.v_info()
obje.car_info("BMW")
obje.bike_info("KTM")

parent class
car name: BMW
bike name : KTM

In [60]:
class Techer:
    def tec_info(self):
        print("this is the main class")
class Student1(Techer):
    def stud_info(self):
        print("this is stud class")
class main(Techer):
    def stude_info(self):
        print("this is 2 stud class")
class emp(Techer, main):
    def main_info(self):
        print("this is main class")
        
T1 = emp()
T1.tec_info()
T1.stude_info()
T1.main_info()

TypeError: Cannot create a consistent method resolution
order (MRO) for bases Techer, main

# issubclass

In [41]:
class Operation1:
    def add(self,n1,n2):
        return n1 + n2
class Operation2:
    def sub(self,n1,n2):
        return n1 - n2
class Operation3:
    def multiply(self,n1,n2):
        return n1 * n2
class Calculate(Operation1 , Operation2, Operation3):
    def division(self, n1 , n2):
         return n1 / n2
    
obj = Calculate()
print(issubclass(Calculate, Operation1))
print(issubclass (Calculate , Operation3))
print(issubclass(Operation1 , Calculate))
print(issubclass(Calculate,(list,Operation2)))
print(issubclass(Calculate,(Operation2 ,Operation2)))

True
True
False
True
True

In [46]:
class Parent:
    pass
class child1(Parent):
    pass
class child2(child1):
    pass
obj = child2()
print(issubclass(child2 , Parent))
print(issubclass(child2 , list))

True
False

In [47]:
# inheritance overriding

In [50]:
class Employe1:
    def emp_info(self):
        pritn("the emp name misbah")
class Employe2:
    def emp_info(self):
        print("the emp name is afreen")
obj = Employe2()
obj.emp_info()

the emp name is afreen

 # Method Resolution Order(mro)

In [53]:
class A:
    def info(self):
        print("In class A")
class B(A):
    def info(self):
        print("In class B")
class C(B,A):
    def info(self):
        print("in class C")
c1 = C()
c1.info()
print(C.mro())

in class C
[<class '__main__.C'>, <class '__main__.B'>, <class '__main__.A'>, <class 'object'>]