# Data INSERT

In [ ]:
import mysql.connector as sql
mydb = sql.connect(host="localhost",user = "root", passwd = "kmisbah17", database = "maindata")
cursor = mydb.cursor()
while True:
    id = int(input("Enter id "))
    name =input("Enter name:")
    salary= int(input("Enter salary:"))
    query = 'insert into emp values({},"{}",{})'.format(id,name,salary)
    cursor.execute(query)
    mydb.commit()  
    print("Data Inserted Successfully..")
    x = int(input("1->Enter More\n2->Exit\nEnter Choice:"))
    if x==2:
        break

Enter id 8
Enter name:ayesha
Enter salary:76000
Data Inserted Successfully..

# DATA UPDATED

In [7]:
import mysql.connector as sql
data= sql.connect(host="localhost",
                user = "root",
                passwd= "kmisbah17",
                database="maindata")
cursor=data.cursor()
id = int(input("Enter Employee id: "))
salary = int(input("Enter New Salary : "))
name = (input("Enter new name : " ))
query= "update emp set name='{}',salary={} where id={}".format(name,salary,id)
cursor.execute(query)
data.commit()  
if cursor.rowcount>0:
    print("Data Updated Successfully..")
else:
    print("No Data Found.")

Enter Employee id: 6
Enter New Salary : 9000
Enter new name : Arshi khan
Data Updated Successfully..

In [ ]:
Deleting data from table

In [15]:
import mysql.connector as sql
mydb =sql.connect(host="localhost",
                  user= "root",
                passwd = "kmisbah17",
                 database="maindata")
cursor=mydb.cursor()
id = int(input("Enter Employee id to Delete:" ))
query= "delete from emp where id ={}".format(id)
cursor.execute(query)
mydb.commit()
if cursor.rowcount>0:
    print("Deletion Successfull..")
else:
    print("Employe id not Found")

Enter Employee id to Delete:6
Deletion Successfull..

In [16]:
# Extracting Data From Database

In [6]:
import mysql.connector as sql
mydb= sql.connect(host="localhost",
                   user = "root",
                   passwd="kmisbah17",
                   database="maindata")
cursor=mydb.cursor()
query="select * from emp"
cursor.execute(query)
data=cursor.fetchone()
print(data)
data= cursor.fetchone()
print(data)

print("Total Number of Rows=",cursor.rowcount)

(1, 'misbah', 75000)
(2, 'nida shaikh ', 50000)
Total Number of Rows= 2

# fetchmany

In [3]:
import mysql.connector as sql
mydb= sql.connect(host="localhost",
                   user = "root",
                   passwd="kmisbah17",
                   database="maindata")
cursor=mydb.cursor()
query="select * from emp"
cursor.execute(query)
data=cursor.fetchmany(5)
# print(data)                    #data print on tuple form if we not use for loop
for i in data:
    print(i)
print("Total Number of Rows=",cursor.rowcount )

(1, 'misbah', 75000)
(2, 'nida shaikh ', 50000)
(3, 'aqsa khan', 760000)
(4, 'zikra khan', 35000)
(5, 'afreen', 60000)
Total Number of Rows= 5

In [32]:
# fetchall

In [1]:
import mysql.connector as sql
mydb= sql.connect(host="localhost",
                   user = "root",
                   passwd="kmisbah17",
                   database="maindata")
cursor=mydb.cursor()
query="select * from emp"
cursor.execute(query)
data=cursor.fetchall()
# print(data)                  
for i in data:
    print(i)
print("Total Number of Rows=",cursor.rowcount )

(1, 'misbah', 75000)
(2, 'nida shaikh ', 50000)
(3, 'aqsa khan', 760000)
(4, 'zikra khan', 35000)
(5, 'afreen', 60000)
(6, 'Arshi khan', 9000)
(7, 'Afanan shaikh', 54000)
(8, 'ayesha', 9000)
Total Number of Rows= 8