In [13]:
#this is public method

class Empolye:
    def __init__(self,name,salary,project):
        self.name = name
        self.salary = salary             #data member
        self.project = project
        
        # accessing public data member
    def show(self):
        print(f"empolye name is {self.name} and salary is {self.salary}")
        
    def work(self):
        print(f"{self.name} working on projcet {self.project}")

obj = Empolye("misabh", 20000 , "BCA")          # creating object of a class

obj.show()                   # calling public method of the class
obj.work()

empolye name is misabh and salary is 20000
misabh working on projcet BCA

In [4]:
class Company:
    def __init__(self,name,location):
        self.name =name
        self.location = location
    def show(self):
        print(f"company name : {self.name}")
        print(f"company location : {self.location}")
obj = Company("MNC" , "Andheri")       
obj.show()

company name : MNC
company location : Andheri

# private members access with public method

In [21]:
class Person:
    def __init__(self,name,salary):
        self.name = name
        self.__salary = salary
    def show(self):
        print(self.name,self.__salary)
        
obj = Person("misbah",20000)
obj.show()

misbah 20000

In [5]:
class Student:
    def __init__(self,name,marks):
        self.name = name
        self.__marks = marks
    def show(self):
        print(self.name, self.__marks)
stud = Student("hassan" , 95)
stud.show()

hassan 95

In [11]:
class Techer:
    def __init__(self,name,salary):
        self.name = name
        self.__salary = salary
    def method(self):
        print("techer name is :" ,self.name)
        print("techer salary is :", self.__salary)
tec = Techer("khan naeem" , 90000)
tec.method()

techer name is : khan naeem
techer salary is : 90000

# Name Mangling to access private members

In [4]:
class Empolye:
    def __init__(self,name,salary):
        self.name = name
        self.__salary = salary
        
obj= Empolye("aqsa",25000)

print(obj.name)
print(obj._Empolye__salary)

aqsa
25000

In [8]:
class Fruit :
    def __init__(self,name,price):
        self.name = name
        self.__price = price
        
emp = Fruit("kiwi", 200)

print(f" the Fruit name {emp.name}")
print(f"the price of kiwi {emp._Fruit__price}")

 the Fruit name kiwi
the price of kiwi 200

In [16]:
#name mangling

class Person:
    def __init__(self,name,age):
        self.name =name 
        self.__age = age
obj = Person("misbah",21)
print("name:",obj.name)
print("age:", obj._Person__age)

name: misbah
age: 21

In [13]:
class Employe:
    def __init__(self,name,salary):
        self.name = name
        self.__salary = salary
emp = Employe("nida", 76000)
print("employe name is :",emp.name)
print("employe salary is :" ,emp._Employe__salary)

employe name is : nida
employe salary is : 76000

In [14]:
class Student:
    def __init__(self,name, Rollno):
        self.__name = name
        self.Rollno = Rollno
stud = Student("affan", 54)
print("student name is :", stud._Student__name)
print("student rollno is :",stud.Rollno )

student name is : affan
student rollno is : 54

# getter and setter
use the getter method to access data members and the setter method to modify the data member

In [2]:
class Student:
    def __init__(self,name,age):
        self.name = name
        self.__age = age
        
    def get_age(self):
        return self.__age
    
    def set_age(self,age):
        self.__age = age
        
obj = Student("misbah",14)

print(obj.name,obj.get_age())

obj.set_age(21) 

print(obj.name,obj.get_age())

misbah 14
misbah 21

In [8]:
class Employee:
    def __init__(self,name, age):
        self.name = name 
        self.__age = age
    def get_add(self):
        return self.__age
    def set_add(self,age):
        self.__age = age
obj = Employee("misbah",22)
print(obj.name,obj.get_add())

misbah 22

In [37]:
class Campany:
    def __init__(self,name, salary):
        self.name = name
        self.__salary = salary
    def get_add(self):
        return self.__salary
    def set_add(self,salary):
        self.__salary = salary
        
obj1 = Campany("abc",20000)

print(obj1.name,obj1.get_add())

obj1.set_add(23000)

print(obj1.name,obj1.get_add())

abc 20000
abc 23000

In [43]:
class Car:
    def __init__(self,name,color):
        self.name = name
        self.__color = color
    
    def get_add(self):
        return self.__color
    
    def set_add(self,color):
        self.__color = color

obj23 = Car ("scorpio", "black")
print(f"the car name is {obj23.name} ,the color is {obj23.get_add()}") 

obj23.set_add("blue")
print(obj23.name,obj23.get_add())

the car name is scorpio ,the color is black
scorpio blue

In [2]:
class Flower:
    def __init__(self):
        self.type = "rose"
    def set_name(self):
        self.type = "lily"
        
obj = Flower()
print(obj.type)
obj.set_name()
print(obj.type)

rose
lily

In [11]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.__age = age
        
    def get_name(self):
        return self.__age 
    
    def set_name(self,age):
        self.__age = age
        
p1 = Person("hassan",19)
print(p1.name, p1.get_name())

p1.set_name(31)
print(p1.name, p1.get_name())

hassan 19
hassan 31

In [20]:
class Student:
    def __init__(self,name,roll_no,age):
        self.name = name
        self.__roll_no = roll_no
        self.__age = age
    def show(self):
        print("student info", "name:", self.name, ":","roll no :", self.__roll_no ,"age :", self.__age)
    def get_roll_no(self):
        return self.__roll_no
    def set_roll_no(self,number):
        if number > 50:
            print('Invalid roll no. Please set correct roll number')
        else:
            self.__roll_no = number
            
obje = Student("misbah",22 , 12)
obje.show()
obje.set_roll_no(42)
obje.set_roll_no(10)
obje.show()

student info name: misbah : roll no : 22 age : 12
student info name: misbah : roll no : 10 age : 12

# protected method

In [25]:
class Company:
    def __init__(self):
        self._project = "BCA"
class Empolyee(Company):
    def __init__(self,name):
        self.name = name
        Company.__init__(self)
    def show(self):
        print("my name is:" ,self.name)
        print("my project name :", self._project)
emp = Empolyee("misbah")
emp.show()

my name is: misbah
my project name : BCA

In [21]:
class Company:
    def __init__(self):
        self._project = "BCA"
class Employee(Company):
    def __init__(self, name):
        self.name = name
        Company.__init__(self)
    def show(self):
        print("my Name is:", self.name)
        print("my Project Name is:", self._project)
        
e1 = Employee("Misbah")
e1.show()
# print("Project name:", e1._project)

my Name is: Misbah
my Project Name is: BCA

In [28]:
class School:
    def __init__(self):
        self._school_name = "ABC"
class Student(School):
    def __init__(self,name,age):
        self.name = name
        self.age = age
        School.__init__(self) 
    def show(self):
        print(self.name , self.age,self._school_name)
stud = Student("misbah", 21)
stud.show()

misbah 21 ABC