# polymorphism is the ability of an object to take many forms

In [11]:
class Car:
    def __init__(self,name,color):
        self.name = name
        self.color= color
    def show(self):
        print(self.name,self.color)
        
    def max_speed(self):
        print("max speed is 250")
        
    def change_gear(self):
        print("change 7 gear")

class Bike(Car):
    def max_speed(self):
        print("max speed is 300")
     
    def change_gear(self):
        print("chnage 4 gear")
     
obj1 =  Bike("ktm","black")
obj1.show()
obj1.max_speed()
obj1.change_gear()

per = Car("scorpio","white")
per.show()

ktm black
max speed is 300
chnage 4 gear
scorpio white

# operator overloading

In [1]:
class Book:
    def __init__(self,pages):
        self.pages = pages
    
    def __add__(self,other):
        return self.pages + other.pages
        
b1 = Book(250)
b2 = Book(350)

print("Totle num of : ", b1 + b2)

Totle num of :  600

In [4]:
class Empolye:
    def __init__(self,salary):
        self.salary = salary
        
    def __mul__(self,other):
        return self.salary * other.salary
    
A1 = Empolye(700)
A2 = Empolye(300)

print("the main salary is :" , A1 * A2)

the main salary is : 210000

In [22]:
class Student:
    def __init__(self,marks):
        self.marks = marks
        
    def __mod__(self,other):
        return self.marks % other.marks
    
obj = Student(50)
obj1 = Student(40)

print("full marks of stud : ", obj % obj1)

full marks of stud :  10

In [42]:
class Empolye:
    def __init__(self,salary):
        self.salary = salary
        
    def __floordiv__(self,other):
        return self.salary // other.salary
    
per1 = Empolye(8000)
per2 = Empolye(300)
               
print(per1 // per2)

26

In [68]:
class Empolye:
    def __init__(self,name,salary):
        self.name = name 
        self.salary = salary
    def __mul__(self, timesheet):
        print(timesheet.day)
        return self.salary * timesheet.day
    
class TimeSheet:
    def __init__(self,name,day):
        self.name = name 
        self.day = day
        
emp = Empolye ("jessa",9000)

timesheet = TimeSheet("jessa",100)

print(emp * timesheet)

100
900000

In [79]:
class Company:
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
    def __floordiv__(self,mainesheet):
        print(mainsheet.person)
        return self.salary // mainsheet.person
    
class Empolyee:
    def __init__(self,name,person):
        self.name = name 
        self.person = person
        
ei = Company("misbah",8000)

mainsheet = Empolyee("misbah",93)

print(ei // mainsheet)

93
86

# Method Overriding

In [3]:
#Method Overriding 

class Teacher:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def show(self):
        print(self.name, self.age)
    def person1(self):
        print("this is a teacher")
class Student(Teacher):
    def person1(self):
        print("this is a student")

obj =Student ("misbah",21)
obj.show()
obj.person1()

misbah 21
this is a student

In [6]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def show(self):
        print(self.name,self.age)
    def work(self):
        print("this person doing work")
class Student(Person):
    def work(self):
        print("this stud doing study")
        
per = Student("aqsa",21)

per.show()
per.work()

aqsa 21
this stud doing study

# polymorphism use class method

In [34]:
# polymorphism use class method 

class Dog:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def Name(self):
        print("name of dog",self.name)
    def Age(self):
        print("age of dog" , self.age)
class Cat:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def Name(self):
        print("name of cat", self.name)
    def Age(self):
        print("age of cat", self.age)
        
dog = Dog("doggy",6)  
cat = Cat ("kitty",7)
for animal in (dog,cat):               #in class method use for loop
    animal.Name()
    animal.Age()

name of dog doggy
age of dog 6
name of cat kitty
age of cat 7

In [19]:
class Car:
    def __init__(self,name,price):
        self.name = name
        self.price = price
    def Name(self):
        print("the car name:" , self.name)
    def Price(self):
        print("the price :", self.price)
class Bike:
    def __init__(self,name,price):
        self.name = name
        self.price = price
    def Name(self):
        print("the bike name :", self.name)
    def Price(self):
        print("the price :" , self.price)
        
emp = Car("BMW",8000)
ei = Bike("ktm",7000)
for main in (emp,ei):
    main.Name()
    main.Price()

the car name: BMW
the price : 8000
the bike name : ktm
the price : 7000

# polmorphism with function

In [ ]:
#polmorphism with function


class Dog:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def Name(self):
        print("name of dog",self.name)
    def Age(self):
        print("age of dog" , self.age)
class Cat:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def Name(self):
        print("name of cat", self.name)
    def Age(self):
        print("age of cat", self.age)
def animal(obj):
    obj.Name()
    obj.Age()
    
dog = Dog("abc",6)
cat = Cat("xyz",7)

animal(dog)
animal(cat)

In [21]:
class Person1:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def Name(self):
        print("name :", self.name)
    def Age(self):
        print("age :", self.age)
class Person2:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def Name(self):
        print("name :", self.name)
    def Age(self):
        print("age :", self.age)
        
def my_func(obj):
    obj.Name()
    obj.Age()
emp1 = Person1("misbah",21)
emp2 = Person2("aqsa",22)

my_func(emp1)
my_func(emp2)

name : misbah
age : 21
name : aqsa
age : 22

# Method Overloading

In [1]:
def add(a,b):
    c=a+b
    print(c)
def add(a,b,c):
    d=a+b+c
    print(d)                               #the missing argument Error called overloding
add(4,5)

TypeError: add() missing 1 required positional argument: 'c'

In [11]:
a=5
a=10
b=2
print(a+b)

12

In [10]:
class Company:
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
    def Name(self):
        print("the Company name is", self.name)
    def Salary(self):
        print("the Company salary is", self.salary)
class Employe:
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
    def Name(self):
        print("employe name is", self.name)
    def Salary(self):
        print("employe age is", self.salary)
        
com = Company ("ABC" , 4000)
ei = Employe("XYZ", 3000)

for obje in (com,ei):
    obje.Name()
    obje.Salary()

the Company name is ABC
the Company salary is 4000
employe name is XYZ
employe age is 3000

In [3]:
class Techer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def Name(self):
        print("techer name:", self.name)
    def Age(self):
        print("techer age:", self.age)
class Student:
    def __init__(self,name, age):
        self.name = name
        self.age = age
    def Name(self):
        print("student name:",self.name)
    def Age(self):
        print("student age :", self.age)
        
def my_func(obj):
        obj.Name()
        obj.Age()
T1 = Techer("aqsa", 23)
S1 = Student("misbah", 19)

my_func(T1)
my_func(S1)

techer name: aqsa
techer age: 23
student name: misbah
student age : 19

In [6]:
class shape:
    def area(self,a,b=0):
        if b > 0:
            print("the area of ractangle : " , a*b)
        else:
            print("the area of squre : ", a**2)
squre = shape()
squre.area(5)

reactangle = shape()
reactangle.area(5,3)

the area of squre :  25
the area of ractangle :  15