In [1]:
str1 = "My salary is 7000";
str2 = "7000"

print(str1.isdigit())
print(str2.isdigit())

False
True

In [3]:
a = "welcome to the beautiful world of python"
print(a.title())

Welcome To The Beautiful World Of Python

In [4]:
x = 'a'
print(x)

a

In [5]:
str1 = 'Welcome'
print(str1*2)

WelcomeWelcome

In [6]:
str = "my name is James bond";
print (str.capitalize())

My name is james bond

In [7]:
str1 = 'Welcome'
print (str1[:6] + ' PYnative')

Welcom PYnative

In [8]:
str1 = "my isname isisis jameis isis bond";
sub = "is";
print(str1.count(sub, 4))

6

In [11]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 10, 30, 40, 80, 20, 50}

print(set1.issubset(set2))
print(set2.issuperset(set1))

True
True

In [1]:
a = {"red","black"}
b ={"red","black"}
print(a.isdis)

AttributeError: 'set' object has no attribute 'isdis'

In [2]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [3]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [1]:
x = 75
def myfunc():
    x = x + 1
    print(x)

myfunc()
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [2]:
print(2%6)

2

In [3]:
print(2 * 3 ** 3 * 4)

216

In [3]:
x = 10
y = 50
if x ** 2 > 100 and y < 100:
    print(x, y)

In [5]:
print(2 ** 3 ** 2)

512

In [1]:
x = { 
  "name": "Emma", 
  "class": 9, 
  "marks": 75 
}
print()

In [2]:
sampleDict = dict([
    ('first', 1),
    ('second', 2),
    ('third', 3)
])
print(sampleDict)

{'first': 1, 'second': 2, 'third': 3}

In [5]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.get("age")
print(temp)

None

In [6]:
a = dict()
print(type(a))

<class 'dict'>

In [1]:
print(-18 // 4)

-5

In [4]:
x = 10
y = 50
if x ** 2 > 100 and y <100:
    print(x,y)

In [5]:
print(2 % 6)

2

In [6]:
print(2 * 3**3 *4)

216

In [8]:
x = 6
y = 2
print(x **y)
print(x // y)

36
3

In [12]:
2 **3**2

512

In [1]:
print('[%c]' % 65)

[A]

In [3]:
print(sep='--', 'Ben', 25, 'California')

SyntaxError: positional argument follows keyword argument (3487693085.py, line 1)

In [4]:
print('PYnative ', end='//')
print(' is for ', end='//')
print(' Python Lovers', end='//')

PYnative // is for // Python Lovers//

In [5]:
x = float('NaN')
print('%f, %e, %F, %E' % (x, x, x, x))

nan, nan, NAN, NAN

In [6]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

40
[20, 30, 40]