# Iterator

In [44]:
list1 = [1,4,7,9]
value = iter(list1)


item1 = next(value)
print(item1)
item2 = next(value)
print(item2)
item3 = next(value)
print(item3)
item4 = next(value)
print(item4)

1
4
7
9

In [26]:
nums = 1 ,2, 4
iterate = iter(nums)
print(next(iterate))
print(next(iterate))

1
2

In [39]:
class Numbers:
    def __init__(self):
        self.num = 1
    def __iter__(self):
        return self
    def __next__(self):
        if self.num <= 5:
            value = self.num
            self.num +=1
            return value
        else:
            raise StopIteration
obj = iter(Numbers())

print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

1
2
3
4
5

In [3]:
class Numbers:
    def __init__(self):
        self.num = 0
    def __iter__(self):
        return self
    def __next__(self):
        if self.num <=7:
            value = self.num
            self.num +=1
            return value
        else:
            raise StopIteration
num = Numbers()
for i in num:
    print(i)

0
1
2
3
4
5
6
7

In [13]:
x = {"a","b","c","d"}
value = iter(x)
item1 = next(value)
print(item1)
item2 = next(value)
print(item2)
item3 = next(value)
print(item3)
item4 = next(value)
print(item4)

b
d
c
a

In [22]:
a = {"a":1}, {"b":2} , {"c":4}
b = iter(a)

x1 = next(b)
print(x1)
x2 = next(b)
print(x2)
x3 = next(b)
print(x3)

{'a': 1}
{'b': 2}
{'c': 4}

# Generator

In [27]:
def my_gen():
    n = 1
    yield n
    n +=1
    yield n
    n +=1
    yield
x = my_gen()
print(next(x))
print(next(x))
print(next(x))

1
2
None

In [31]:
def new_gen():
    yield 1
    yield 2
    yield 3
    yield 4
for value in new_gen():
    print(value)

1
2
3
4

In [49]:
def fabi(value):
    a,b = 0,1
    while a < value:
        yield a
        a,b = b, a +b
x = fabi(5)
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

0
1
1
2
3

In [53]:
my_list = [ 3,5,6,9]
a = (x**2 for x in my_list)
print(next(a))
print(next(a))
print(next(a))
print(next(a))

9
25
36
81

In [61]:
def generator_fino():
    n1 = 0
    n2 = 1
    while True:
        yield n1 
        n1, n2 = n2, n1 + n2
gen = generator_fino()
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
1
2
3
5
8

In [122]:
def my_func(max=0):
    n = 0
    while n < max:
        yield 2**n
        n +=1
x = my_func(4)  
print(next(x))
print(next(x))
print(next(x))
print(next(x))

1
2
4
8

In [137]:
def even_num():
    n = 0
    while True:
        yield n
        n +=2
x = even_num()
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))

0
2
4
6
8
10

In [20]:
def odd_num():
    n = 1
    while True:
        yield n
        n += 2
y = odd_num()
print(next(y))
print(next(y))
print(next(y))
print(next(y))
print(next(y))

1
3
5
7
9

In [ ]:
def fibonacci_numbers(nums):
    x ,y = 0,1
    for _ in range(nums):
        x,y = y, x + y
        yield x

def suqare(nums):
    for num in nums:
        yield num**2
print(sum(suqare(fibonacci_numbers(8))))       
a = fibonacci_numbers(8)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

In [7]:
def suqre():
    i =1
    while True:
        yield i*i
        i+=1
for num in suqre():
    if num > 100:
        break
    print(num)
# print(num)

1
4
9
16
25
36
49
64
81
100

In [3]:
def cube():
    i = 1
    while True:
        yield i**3
        i += 1
for a in cube():
    if a > 100:
        break
    print(a)
# print(a)

1
8
27
64

# decorator

In [15]:
def my_func():
    def new_func():
        print("hello")
    return new_func
dec = my_func()
dec()

hello

In [16]:
def dec1(func1):
    def my_func():
        print("executed")
        func1()
        print("exected now")
    return my_func
@dec1
def new_func():
    print("maine code")
    
new_func()

executed
maine code
exected now

In [17]:
def dec_func(func1):
    def d_func(a,b):
        print("multiply the value" , a ,"and", b)
        if b == 0:
            print("cannot multiply")
            return
        return func1(a,b)
    return d_func
@dec_func
def func2(a,b):
    return a * b
value1 = func2(3,8)
print(value1)

multiply the value 3 and 8
24

In [66]:
def sample(mark):
    def addingmarks():
        print("my name is misbah")
        mark()
    return addingmarks
@sample
def student():
    print("this my new func")
student()

my name is misbah
this my new func

In [47]:
def function(x):
    def dec_func():
        print("first code")
        print("second code ")
        x()
    return dec_func
@function
def my_func():
    print("last one")
        
my_func()

first code
second code
last one

In [11]:
def smart_divide(func):
    def inner(a,b):
        print("dividing", a, "by", b)
        if b == 0:
            print("can't divide by 0")
            return
        return func(a,b)
    return inner
@smart_divide
def divide(a,b):
    return a /b
value = divide(2,8)
print(value)
value1 = divide(3,0)
print(value1)

dividing 2 by 8
0.25
dividing 3 by 0
can't divide by 0
None

In [23]:
def my_func(function):
    def my_deco(x,y,z):
        print("hello world")
        print("this school name is", y)
        print("location of school is", z)
        function(x)
    return my_deco 
@my_func
def new_func(x):
#     print("good bye")
    print("my name is ", x)
new_func("misbah", "abc", "kurla")

hello world
this school name is abc
location of school is kurla
my name is  misbah

In [45]:
def my_func(func1):
    def dec_func(x,y):
        print("divide the value",x, "and", y)
        if x == 0:
            print("can't divide by 0")
            return
        return func1(x,y)
    return dec_func
@my_func
def values(x,y):
    return x / y
nums = values (9,6)
print(nums)
nums =values(0,7)
print(nums)

divide the value 9 and 6
1.5
divide the value 0 and 7
can't divide by 0
None

# Filter function

In [24]:
a = [234,654,327,785,256]
even_num = list(filter(lambda x : x % 2 ==0 , a))
print(even_num)

[234, 654, 256]

In [30]:
num =[38,37,71,382,377]
odd_nums = tuple(filter(lambda x : x % 2 !=0, num))
print(odd_nums)

(37, 71, 377)

In [43]:
a = [2,3,4,13,10,16,24]
def my_func(x):
    if x > 9:
        return True
    else:
        return False
nums = list(filter(my_func, a))
print(nums)

[13, 10, 16, 24]

In [13]:
def func(x):
    if x > 5:
        return True
y = [3,6,9,8,10,12]
var = tuple(filter(func,y))
print(var)

(6, 9, 8, 10, 12)

In [73]:
numbers = [3,5,6,2,8,9]
def my_func(a):
    if a >4:
        return True
b = set(filter(my_func, numbers))
print(b)

{8, 9, 5, 6}

In [115]:
nums = [2,3,6,5,8,7]
def my_func(a):
    if a % 2 == 0:
        return True
x = tuple(filter(my_func,nums))
print("even number :", x)

even number : (2, 6, 8)

In [113]:
nums = [2,3,6,5,8,7]
def my_func(a):
    if a % 2 != 0:
        return True
x = tuple(filter(my_func,nums))
print("odd numbers :", x)

odd numbers : (3, 5, 7)

In [45]:
list1 = [3,5,8,12,6,9,2]
def my_func(n):
    if n* 2==0:
        return True
a = set(filter(my_func,list1))
print(a)

set()

In [125]:
a = [2,4,6,8,31,23]
def my_func(x):
    if x > 5:
        return True
b = set(filter(my_func, a))
print(b)

{8, 23, 6, 31}

In [40]:
x = [3,8,4,5,6]
def nums(a):
    if a > 4:
        return True
b = list(filter(nums,x))
print(b)

[8, 5, 6]

In [46]:
def my_func(a):
    if a > 4:
        return True
li = [3,5,6,8]
result = list(filter(my_func,li))
print(result)

[5, 6, 8]

In [14]:
def nums(x):
    if x >6:
        return True
li =[ 12,15,6,45,7] 
lis = set(filter(nums,li))
print(lis)

{7, 12, 45, 15}

# Map function

In [128]:
a = [3,5,7,9,5]
b = map(lambda n : n*n, a)
print(set(b))

{81, 9, 25, 49}

In [3]:
a = (3,2,6)
b = (9,7,5)
nums = map(lambda n1,n2: n1 + n2, a,b)
print(list(nums))

[12, 9, 11]

In [6]:
names = ["ABC", "HIKA","NOMIT"]
x = list(map(len,names))
print(x)

[3, 4, 5]

In [109]:
A = [4,7,8,9,3]
def nums(x):
    return x *2  
num = list(map(nums,A))
print(num)

[8, 14, 16, 18, 6]

In [115]:
lists = [ 3,9,7,6,5]
x = map (lambda n : n * n, lists)
print(list(x))

[9, 81, 49, 36, 25]

In [2]:
def division(a,b):
    return a/b
list1 = [12,3,4,9]
list2 = [13,8,9,7]
li = set(map(division,list1,list2))
print(li)

{0.9230769230769231, 0.375, 0.4444444444444444, 1.2857142857142858}

In [74]:
def multiplay(a,b,c):
    return a*b*c
x = [3,5,8,9]
y = [12,4,8,7]
z = [32,68,21]
nums = tuple(map(multiplay,x,y,z))
print(nums)

(1152, 1360, 1344)

In [47]:
a = ["misbha","nida","zikra"]
c = list(map(len,a))
print(c)

[6, 4, 5]

In [17]:
x = [3,6,8,4]
y = tuple(map(lambda n: n*n,x))
print(y)

(9, 36, 64, 16)

# Zip function

In [7]:
l = ["name", "age"]
li = ["misbah", 25]
result = list(zip(l,li))
print(result)

[('name', 'misbah'), ('age', 25)]

In [1]:
a = [2,3,5,7]
b = [ "red","black","blue","green"]
c = list(zip(a,b))
print(c)

[(2, 'red'), (3, 'black'), (5, 'blue'), (7, 'green')]

In [3]:
x = [2,3,4,5]
y = [5,6,8,9]
for a,b in zip(x,y):
    print(a,b)

2 5
3 6
4 8
5 9

In [4]:
list1 = ["one","two", "three"]
list2 = [1,2,3]
x = set(zip(list1,list2))
print(x)

{('one', 1), ('three', 3), ('two', 2)}

In [9]:
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]
scores = [100, 15, 17, 28, 43]
for pl, sc in zip(players, scores):
#     print("Player :  %s     Score : %d" % (pl, sc))
      print("player :", pl ,"  " ,"score :", sc)

player : Sachin    score : 100
player : Sehwag    score : 15
player : Gambhir    score : 17
player : Dravid    score : 28
player : Raina    score : 43

# join

In [10]:
x = ["khan","misbah"]
z = " ".join(x)
print(z)

khan misbah

In [12]:
l = ["langugae","python"]
# li = ["language" , "HTML"]
list1 = " ".join(l)
print(list1)

langugae python

# enumerate

In [34]:
a = {"red","green","blue","black"}
b = dict(enumerate(a,1))
print(b)

{1: 'green', 2: 'red', 3: 'black', 4: 'blue'}

In [59]:
names = ["misbah","zikra","afreen"]
for item in enumerate(names):
    print(set(item))

{0, 'misbah'}
{1, 'zikra'}
{'afreen', 2}

In [56]:
names = ["misbah","zikra","afreen"]
for count,item in enumerate(names):
    print(count,item)

0 misbah
1 zikra
2 afreen

In [20]:
names = ["misbah","zikra","afreen"]
for item in enumerate(names,3):
    print(item)

(3, 'misbah')
(4, 'zikra')
(5, 'afreen')

# bisect

In [70]:
import bisect

li = [1, 3, 4, 4, 4, 6, 7]
print (bisect.bisect(li, 4))
print (bisect.bisect_left(li, 4))
print (bisect.bisect_right(li, 4, 0, 4))

5
2
4

In [35]:
import bisect
li1 = [1, 3, 4,5,5, 6, 7]
l = 4
li = bisect.bisect(li1,l)
print(li)
li1.insert(li, l)
print(li1)

3
[1, 3, 4, 4, 5, 5, 6, 7]

In [6]:
import bisect
x = [1,2,3,4,5]
num = 3
y = bisect.bisect(x,num)
print(y)

3

# reduce

In [111]:
from functools import reduce
def my_func(a,b):
    return a* b
l = [2,4,6,1]
c = reduce(my_func,l)
print(c)

48

In [89]:
import functools
lis = [2,8,9,4]
print(functools.reduce(lambda a,b: a+b,lis))

23

In [107]:
import functools
l = [3,5,7,8]
list2 = [4,3,2,6]

li = functools.reduce(lambda x,y: x * y, l)
print(li)

840

In [11]:
import functools 
list1 = [3,5,6,78]
num = functools.reduce(lambda a,b: a*b ,list1)
print(num)

7020

In [4]:
a = [ 3,4,7,9]
b = map(lambda n : n*n,a)
print(list(b))

[9, 16, 49, 81]

In [23]:
import functools
def my_func(x,y):
    return x / y
li = [12,5,17,9]
z = functools.reduce(my_func,lis)
print(z)

0.0008641975308641976

In [37]:
# import functools
import operator
a = functools.reduce(operator.add,["khan"," ","misbah"])
print(a)

khan misbah

In [100]:
s = "AAADDBCCCAA"
count = {} 
for i in s:
    if i in count:
        count [i] = count[i] + 1
    else:
        count[i]= 1
print(count)

{'A': 5, 'D': 2, 'B': 1, 'C': 3}