# table

In [16]:
for i in range(1,11):
    a = i*3
    print(a)

3
6
9
12
15
18
21
24
27
30

In [52]:
for a in range(1,11):
    b = a*4
    print(b)

4
8
12
16
20
24
28
32
36
40

In [1]:
def table(a):
    for i in range(1,11):
        b = i*a
        print(a,'*',i,'=',b)
table(6)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [5]:
a = "my name misbah"
print(a[2:7])

 name

In [192]:
def buildArray(self, nums):
        a = [0,2,1,5,3,4]
        b = []
        for x in nums:
            z = nums[x]
            b.appen(z)
            print(b)
            return(b)

In [4]:
a = [[1,2,9],[6,2,1]]
b = []
for x in a:
    b.append(sum(x))
print(max(b))

12

# Reduce function

In [196]:
from functools import reduce

def myfunc(a,b):
    return a+b
l = [4,6,7,2]
c = reduce(myfunc,l)
print(c)

19

In [20]:
from functools import reduce

def func_num(a,b):
    return a*b
listt =[2,4,7,3]
c = reduce(func_num,listt)
print(c)

168

# Filter function

In [1]:
 def myfunc(n):
        if n>3:
            return True
l = [3,57,87,87,45,23,98,6,1,3] 
output = list(filter(myfunc, l))
print(output)

[57, 87, 87, 45, 23, 98, 6]

In [11]:
def num_func(x):
    if x<8:
        return True
y = [3,6,78,2,9,30]
var = list(filter(num_func,y))
print(var)

[3, 6, 2]

# zip function

In [7]:
name = ["misbah","afreen","nida"]
lastname = ["khan","manihar","shaikh"]
print(dict(zip(name,lastname)))

{'misbah': 'khan', 'afreen': 'manihar', 'nida': 'shaikh'}

In [13]:
a = "hello world"
print (a.split())
for i in a:

['hello', 'world']

# find the highest no

In [16]:
a = [3,5,7,86,23,65]
b =0
for i in a:
    if i>b:
        b=i
print(b)

86

In [63]:
a = [3,5,6,78,4]
b = 0
for i in a:
    if i >b:
        b = i
print(b)

78

# lowest no

In [61]:
a = [3,4,7,8,56,76,0.5]
b = 3

for i in a:
    if i <b:
        b=i
print(b)

0.5

# cube with list

In [54]:
a = [5,6,7,9,2]
for i in a:
    b = i**3
    print(b)

125
216
343
729
8

# lambda

In [4]:
x = lambda a ,b,c : a + b + c
print(x(4,5,6))

15

In [6]:
def func(a,b):
    print(a * b)
func(5,7)

35

In [29]:
names = ["misabh","nida","afreen","zikra"]
newlist = []
for i in names:
        newlist.append(i)
print(newlist)

['misabh', 'nida', 'afreen', 'zikra']

In [32]:
newlist = ["red", "blue","black"]
newlist.insert(1,"white")
print(newlist)

['red', 'white', 'blue', 'black']

In [34]:
mylist = ["red","blue","black"]
mylist.append("green")
print(mylist)

['red', 'blue', 'black', 'green']

In [35]:
newlist = ["red", "blue","black"]
list = ("gray","green")
mylist.extend(list)
print(mylist)

['red', 'blue', 'black', 'green', 'gray', 'green']

In [40]:
newlist = ["red","blue","green","white"]
i = 0
while i < len(newlist):
    print(newlist[i])
    i = i + 1

red
blue
green
white

In [1]:
nlist = ["a","b","c","d"]
a = 0
while a < len(nlist):
    print(nlist[a]) 
    a = a +1

a
b
c
d

# uniquee no in given list

In [6]:
a = [3,5,4,7,3,7,4]
b = 0                                           #xor use to fine uniquee no
for i in a:
    b^=i 
print(b)

5

In [85]:
a = [4,90,83,4,83]
b =0
for i in a:
    b^=i
print(b)

90

In [40]:
a = [3,5,7,8,3,5]
for i in a:
    if a.count(i)==1:
        print(i)

7
8

In [8]:
a = [2,4,6,4,2,7]
for i in a:
    if a.count(i)==1:
         print(i)

6
7

# cube

In [62]:
for i in range(1,11):
    b =i**3
    print(b)

1
8
27
64
125
216
343
512
729
1000

# lowest no

In [82]:
a = [45,1,89,76,23,42,2,3]
b = 45
for i in a:
    if i< b:
        b = i
print(b)

1

# slicing steping

In [9]:
days = "mon, tue, wed, thu, fri, sat, sun"
print(days[::5])

mtwtfss

In [12]:
names = "misabh, afreen, nida, aqsa"
print(len(names))
print(names[::4])

26
mbaen,s

# sort the list without useing sort method

In [9]:
a = [4,5,3,1,2,6]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i>0:
        a[i-1],a[i] = a[i],a[i-1]
        i = i - 1
print(a)

[1, 2, 3, 4, 5, 6]


# swap method and find second highest number

In [91]:
a =[2,8,5,9,3,1]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i >0:
        a[i-1],a[i] = a[i],a[i-1]
        i = i - 1
        

print(a[-2])         # to find highest no use indexing method

8

# even and odd number

In [1]:
num = int(input("enter int number"))
remainder = num %2
if (remainder == 0):
    print(num,"is an even num")
else:
        print(num,"is an odd num")

enter int number8
8 is an even num

# list second highest no

In [58]:
a = [3,34,78,45,]
b = []
for i in a:
    if i>0:
        b = i

print(b)

45

# list lowest no

In [59]:
a = [0.2,3,8,6,1]
b = 0
for i in a:
    if i<0:
        b = i
print(b)

3

# function question

In [7]:
def add(a,b):
    result = a + b
    return result
def new_func(c):
    return c*6
    

n = add(2,4)
s = new_func(6)
print(n)
print(s)

6
36

In [53]:
def myfucn(number1,number2):
    return number1 + number2

result = (my_func(3,5))
print(result)

8

# function return value

In [23]:
def get_even(numbers):
    even_nums = [num for num in numbers if not num % 2]
    return even_nums

a = get_even([1,2,3,4,5,8])
print(a)

[2, 4, 8]

In [22]:
def get_odd(numbers):
    odd_nums = [num for num in numbers if num % 2==1]
    return odd_nums

a = get_odd([2,4,7,5,8,1,3])
print(a)

[7, 5, 1, 3]

In [69]:
def my_add(a,b):
    sum = a + b
    return sum
def new_func(z):
    return z*x

x = my_add(3,4)
print(x)
    
y = new_func(7)
print(y)

7
49

In [79]:
def my_func(a,b):
    nums = a - b
    return nums
def new_func(x):
    return x *5

my_func(8,3)

new_func(5)

25

In [34]:
def my_func(numbers):
    odd_nums=[num for num in numbers if  num % 2 ==1]
    return odd_nums                                                              # 2==1 define the even     
                                                                                 # 2==0 define the odd
a = my_func([2,3,5,7,8,4])
print(a)

[3, 5, 7]

In [37]:
def mun_func():
    print("hello")
mun_func()

hello

In [49]:
def my_func(a):
    print(a * 7)
    
my_func(3) 
my_func(8)
my_func(9)

21
56
63

# dict

In [10]:
a = {"a":1,"b":2,"c":3}
# a.update({"b":5})
#print(a["c"])
a["b"]="anam"
print(a)

{'a': 1, 'b': 'anam', 'c': 3}

In [59]:
a={}
print(type(a))

<class 'dict'>

In [159]:
# emty set and dict

In [1]:
a = set()
print(type(a))                                      #emty set use () 
                                                     # this is emty "set()"
a = {}
print(type(a))

<class 'set'>
<class 'dict'>

In [3]:
a = "khan misbah naeem"
print(a[::4])

k bnm

In [5]:
a = ["misnah","nida","aqsa"]
a.insert(1,"sadiya")
print(a)

['misnah', 'sadiya', 'nida', 'aqsa']

In [6]:
a = ["misnah","nida","aqsa"]
b = [ "affan","hassan","taha"]
a.extend(b)
print(a)

['misnah', 'nida', 'aqsa', 'affan', 'hassan', 'taha']

In [2]:
a = ["misbah","nida","aqsa"]
a.pop(2)
print(a)

['misbah', 'nida']

In [9]:
a = ["misnah","nida","aqsa"]
a.remove("nida")
print(a)

['misnah', 'aqsa']

In [14]:
 mylist = ["misbah","nida","aqsa"]
for i in mylist:
    print(i)

misbah
nida
aqsa

In [16]:
mylist = ["misbah","nida","aqsa"]
for i in range(len(mylist)):
    print(mylist[i])

misbah
nida
aqsa

In [17]:
for i in range(1,11):
    if i > 0:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
 mylist = ["misbah","nida","aqsa"]
a = 0
while a <len(mylist):
    print(mylist[a])
    a = a + 1

misbah
nida
aqsa

In [9]:
x = ("misbah","nida","afreen")
y = list(x)
y[2] = "zikra"
x = tuple(y)
print(x)

('misbah', 'nida', 'zikra')

In [11]:
x = ("misbah","nida","afreen")
z = list(x)
x = z.append("aqsa")
x = tuple(z)
print(x)

('misbah', 'nida', 'afreen', 'aqsa')

In [12]:
x = ("red","blue","black")
y = ("orange",)
x +=y
print(x)

('red', 'blue', 'black', 'orange')

In [106]:
mydict = {i:i**3 for i in range(1,11)}
print(mydict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [101]:
mydict = {i :i*4 for i in range(1,11)}
print(mydict)

{1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}

# To create 5 different list using list comprehension method.

In [8]:
a = ["red","black","blue","green","white"]
b = [i for i in a if "e" in i]
c = [i for i in a if "b" in i ]

print(c)
print(b)

['black', 'blue']
['red', 'blue', 'green', 'white']

# odd & even useing list comprehension

In [39]:
a = [2,4,7,9]
b = ["Even" if i%2==0 else "Odd" for i in a]
print(b)

['Even', 'Even', 'Odd', 'Odd']

In [44]:
x =[3,8,5,4,9]
y = ["even" if i %2==0 else "odd" for i in a ]
print(y)

['even', 'even', 'odd', 'odd']

# Create list , add random 10 numbers in list and print largest number of list.

In [93]:
a = [1,2,3,4,5,6,7,8,9,10]
b = []
for i in a:
    b = i
print(b)

10

# To check whether a given number is present in list or not?

In [139]:
a = [23,87,58,3,2,4]
print(87 in a)

True

# To demonstrate any 10 methods of List

In [65]:
x = ["a","b","c","d"]
x.append("e")
print(x)

['a', 'b', 'c', 'd', 'e']

In [79]:
x = [1,2,4,5,7,8]
y = x.copy()
print(y)

[1, 2, 4, 5, 7, 8]

In [80]:
mylist = [76,90,54,32]
mylist.clear()
print(mylist)

[]

In [89]:
a = [3,8,9,4,3,4,3]
b = a.count(3)
print(b)

3

In [94]:
a = ["misbah","aqsa","nida"]
x = ["zikra","afreen"]
a.extend(x)
print(a)

['misbah', 'aqsa', 'nida', 'zikra', 'afreen']

In [95]:
a = [3,5,9,7,5,1]
a.sort()
print(a)

[1, 3, 5, 5, 7, 9]

In [98]:
a = ["a","b","c","d"]
a.insert(3,"e")
print(a)

['a', 'b', 'c', 'e', 'd']

In [101]:
a = [3,4,5,7,8]
a.pop(1,)
print(a)

[3, 5, 7, 8]

In [102]:
x =["a","b","c"]
x.remove("c")
print(x)

['a', 'b']

In [107]:
z = [2,3,6,9,1]
z.reverse()
print(z)

[1, 9, 6, 3, 2]

# To add two list [ adding elements of list ]

In [108]:
a = ["red","blue","black"]
b =["orange","kiwi","banana"]
a.extend(b)
print(a)

['red', 'blue', 'black', 'orange', 'kiwi', 'banana']

# To sort a given number list in ascending order using functions.

In [136]:
a = [3,4,7,8,2,1]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i>0:
        a[i-1],a[i]=a[i],a[i-1]
        i = i-1
print(a)

[1, 2, 3, 4, 7, 8]

# list comprehestion

In [140]:
a = ["misbah","nida","afreen"]
b = [i for i in a if i != "misbah"]
print(b)

['nida', 'afreen']

In [174]:
a = [2,4,6,7,8]
b = ["even" if i%2==0 else "odd" for i in a]
print(b)

['even', 'even', 'even', 'odd', 'even']

In [142]:
a = ["red","black","white"]
b = [i for i in a if "a" in i]
print(b)

['black']

In [148]:
a =[i for i in range(6) if i > 0]
print(a)

[1, 2, 3, 4, 5]

In [149]:
a = [i for i in range(1,11)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [153]:
a = ["red","black","white"]
b = [i.upper() for i in a]
print(b)

['RED', 'BLACK', 'WHITE']

In [155]:
a = ["Red","Black","White"]
b = [i.lower() for i in a]
print(b)

['red', 'black', 'white']

In [158]:
a = ["red","black","white"]
b = [i if i !="black" else "blue" for i in a]
print(b)

['red', 'blue', 'white']

In [200]:
a = {"a":2,"b":4,"c":7,"d":5}
b = a.items()
print(b)

dict_items([('a', 2), ('b', 4), ('c', 7), ('d', 5)])

In [14]:
a = ["red","black","white"]
b = [i for i in a if "e" in i]
print(b)

['red', 'white']

In [15]:
a = ["hello" for i in a]
print(a)

['hello', 'hello', 'hello']

In [26]:
def mu_func(*numbers):
    totle = 0
    for i in numbers:
        totle=totle + i
    print("sun of number:" , totle)
        
mu_func(10,2,3,6,)

sun of number: 21

# function questions

# 1.Write a Python function to find the Max of three numbers.

In [33]:
def my_func(a,b):
    if a>b:
        return a

    return b
def func(a,b,c):
    return max(a,max(b,c))
print("max number is",func(3,34,78))

max number is 78

In [38]:
def func(a,b,c):
    if a>b:
        if a>c:
            print(a)
        else:
            print(c)
    else:
        if b>c:
            print(b)
        else:
            print(c)
func(2,3,4)

4

In [42]:
def my_func(x,y,z):
    if x>y:
        print(x)
    else:
        if y>z:
            print(y)
        else: 
            if z>x:
                print(z)
                        
my_func(3,8,9)

9

In [49]:
a =[3,45,56,67]
b = []
for i in a:
    b = a
print(max(b))

67

# define a function that accepts 2 values and return its sum, subtraction and multiplication..

In [54]:
def my_func(a,b):
    return a-b
def new_func(c,d):
    return c*d
y = new_func(4,5)
x = my_func(8,3)
print(x)
print(y)

5
20

# Write a Python function to multiply all the numbers in a list

In [20]:
def table(a):
  #  a = int(input("enter int number "))
    for i in range(1,11):
        b = a*i
        print(a,'*',i,"=",b)
table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [12]:
a ={i:i**3 for i in range(1,11)}
print(a)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [3]:
for i in range(1,11):
    i = i*4 
for j in range(1,11):
    j = j *3
    print(i,j)

40 3
40 6
40 9
40 12
40 15
40 18
40 21
40 24
40 27
40 30

# odd and even useing function

In [40]:
def my_func(a):
    for i in a:
        if i % 2==0:
            print("even")
        else:
            print("odd")
b = [2,3,7,5,4]
my_func(b)

even
odd
odd
odd
even

# bisect function

In [8]:
import bisect
a = [1,2,3,4,6,7]
b = 5
c = bisect.bisect(a,b)
print(c)
bisect.insort(a,b)
print(a)

4
[1, 2, 3, 4, 5, 6, 7]

In [13]:
a = ["a","b","c","d"]
b = [1,2,3,4]
c = zip(a,b)
print(tuple(c))

(('a', 1), ('b', 2), ('c', 3), ('d', 4))

In [8]:
a = [3,5,7,9,0.1]
b = 0
for i in a:
    if i >b:
        b = i
print(b)

9

In [16]:
a = int(input("enter int number"))
b = a %2
if (b ==0):
    print(a,"even number")
else:
    print(a,"odd number")

enter int number8
8 even number

# multiple return values

In [26]:
def myfunc(num1,num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1*num2
    division = num1/ num2
    return add,sub,multiply,division

a,b,c,d = myfunc(6,3)
print(a)
print(b)
print(c)
print(d)

9
3
18
2.0

# slicing

In [14]:
a = [4,54,3,4,5,6,4,23]
s = (a[::2])
print(s[::-1])

[4, 5, 3, 4]

In [77]:
a = [4,54,3,4,5,6,4,23]
print(a[-2::-2])

[4, 5, 3, 4]

In [84]:
a = "this is my python code"
x= a.splitlines()
print(x)

['this is my python code']

In [87]:
a = [6,23,3,2,0,9,8,75]
print(a[1:8:2])

[23, 2, 9, 75]

In [93]:
def my_func():
    print("hello")  
my_func()

hello

In [100]:
def my_func(a):
    for i in a:
        if i %2==0:
            print("even")
        else:
            print("odd")
b = [3,4,2,6]
my_func(b)
c=[9,0,7,7]
my_func(c)

odd
even
even
even
odd
even
odd
odd

In [11]:
tupl=([2,3],"abc",0,9)

tupl[0][1]=1

print(tupl)

([2, 1], 'abc', 0, 9)

In [8]:
x =input("str text ")
if x.isupper():
    print('this is capital')
else: 
    print(' this is small')

str text A
this is capital