In [1]:
tuplelist = ("red", "black", "white",)
print(tuplelist[1])

black

In [2]:
tuplelist = ("red", "black", "white",)
print(tuplelist[-1])

white

In [4]:
tuplelist = ("red", "black", "white", "blue", "orange","pink")
print(tuplelist[1:5])

('black', 'white', 'blue', 'orange')

In [8]:
tuplelist = ("red", "black", "white","blue", "orange","pink")
print(tuplelist[-5:-1])

('black', 'white', 'blue', 'orange')

In [20]:
tuplelist = ("blue", "orange","pink")
if "pink" in tuplelist:
    print("yes,'pink' is in the color tuple")

yes,'pink' is in the color tuple

In [22]:
x = ("banana", "chiku","apple")
y = list(x)
y [1]= "kiwi"    
x = tuple(y)
print(x)

('banana', 'kiwi', 'apple')

In [24]:
mylist = ("red", "black", "pink", "orange")
y =list(mylist)
y.append("blue")
mylist=tuple(y)
print(mylist)

('red', 'black', 'pink', 'orange', 'blue')

In [27]:
newlist = ("banana", "chiku","apple")
x =list(newlist)
x.append("orange")
newlist=tuple(x)
print(x)

['banana', 'chiku', 'apple', 'orange']

In [38]:
place =("mumbai", "pune","goa",)
(red, blue, black)= place
print(red)
print(blue)
print(black)

mumbai
pune
goa

In [39]:
fruit = ("apple", "kiwi","mango", "chiku","banana")
(one,two,*three) = fruit
print(one)
print(two)
print(three)

apple
kiwi
['mango', 'chiku', 'banana']

In [40]:
fruit = ("apple", "kiwi","mango", "chiku","banana")
(one,*two,three) = fruit
print(one)
print(two)
print(three)

apple
['kiwi', 'mango', 'chiku']
banana

In [43]:
fruit = ("apple", "kiwi", "chiku","banana")
for x in fruit:
    print(x)

apple
kiwi
chiku
banana

In [44]:
fruit = ("apple", "kiwi","mango", "chiku","banana")
for a in range(len(fruit)):
    print(fruit[a])

apple
kiwi
mango
chiku
banana

In [45]:
fruit = ("apple", "kiwi","mango", "chiku","banana")
i = 0
while i < len(fruit):
    print(fruit[i])
    i = i + 1

apple
kiwi
mango
chiku
banana

In [2]:
name = ("misabh","nida","afreen")
x = (name[-2])
print(x)

nida

In [10]:
a = ("aqsa","affan","misbah")
x =list(a)
x[2]="hassan"
a = tuple(x)
print(a)

('aqsa', 'affan', 'hassan')

In [19]:
A = ("red","blue","black","white","green")
(*one , two,three) = A 
print(one)
print(two)
print(three)

['red', 'blue', 'black']
white
green

In [20]:
A = ("red","black","white")
for i in range(len(A)):
    print(A[i])

red
black
white

In [27]:
x = ("red","black","white","blue")
y = 0
while y< len(x):
    print(x[y])
    y = y +1

red
black
white
blue

In [53]:
A = (1,2,7,8,5,9)
for i in A:
    print(A)

(1, 2, 7, 8, 5, 9)
(1, 2, 7, 8, 5, 9)
(1, 2, 7, 8, 5, 9)
(1, 2, 7, 8, 5, 9)
(1, 2, 7, 8, 5, 9)
(1, 2, 7, 8, 5, 9)

In [54]:
a = (3,4,6,8,9,2)
b = 0
while b <len(a):
    print(a[b])
    b = b + 1

3
4
6
8
9
2