In [2]:
def my_function():
    print("my python page")
    print("this is my first code")
my_function()

my python page
this is myb first code

In [15]:
def my_function(fname):
    print(fname  + " " + "age" + " " + "20")
my_function("nida")
my_function("anjum")
my_function("afreen")

nida age 20
anjum age 20
afreen age 20

In [19]:
def my_function(colors = "red"):
    print("this is" + " " + colors)
my_function("blue")
my_function("black")
my_function("white")
my_function()

this is blue
this is black
this is white
this is red

In [22]:
def my_function(city):
    for x in city:
        print(x)
        
newlist = ["pune","mumbai","kolkata","gujrat"]   

my_function(newlist)

pune
mumbai
kolkata
gujrat