In [1]:
a = ["red", "green", " black"]
print(a)

['red', 'green', ' black']

In [3]:
m = ["red", "green", " black","red", "green", " black"]
print(m)

['red', 'green', ' black', 'red', 'green', ' black']

In [7]:
c = ["red", "green", " black", "blue",]
print(len(c))

4

In [12]:
mylist1 = ["nida","hassan","afreen"]
mylist2 = [2,4,5,6,7]
mylist3 = [True , False,False]
print(mylist1)
print(mylist2)
print(mylist3)

['nida', 'hassan', 'afreen']
[2, 4, 5, 6, 7]
[True, False, False]

In [1]:
l1 = ["blue", "orange", "black"]
print (l1[1])

orange

In [4]:
thislist = [2,3,5,9]
print(thislist[-1])

9

In [2]:
list =[2,4,6,9,7,2,4,3]
print(list[3:7])

[9, 7, 2, 4]

In [6]:
list =["red","black","blue"]
if "black" in list:
    print("yes, red in list")

yes, red in list

In [8]:
li=["banana","charry", "kiwi"]
li[0]="apple"
print(li)

['apple', 'charry', 'kiwi']

In [9]:
li = [29, 23,32,45,67,90]
li[2:4]=80,70
print(li)

[29, 23, 80, 70, 67, 90]

In [3]:
list =["red", "blue","black",]
list.append("white")
print(list)

['red', 'blue', 'black', 'white']

In [6]:
newlist = ["misbah", "zikra", "aqsa"]
newlist.insert(2, "shaista")
print(newlist)

['misbah', 'zikra', 'shaista', 'aqsa']

In [7]:
placename = ["turkey", "us", "dubai","khasmire"]
city =["mumbai", "pune", "gujrat","kokan"]
placename.extend(city)
print(placename)

['turkey', 'us', 'dubai', 'khasmire', 'mumbai', 'pune', 'gujrat', 'kokan']

In [8]:
list = ["one" ,"two", "three"]
list.remove("two")
print(list)

['one', 'three']

In [14]:
list = ["one", "two", "three", "four"]
list.pop(2)
print(list)

['one', 'two', 'four']

In [13]:
list = ["one", "two", "three", "four"]
list.pop()
print(list)

['one', 'two', 'three']

In [3]:
list = ["nida","misbah", "afreen","iqra"]
del list[1]
print(list)

['nida', 'afreen', 'iqra']

In [4]:
list = [1,3,5,6,7,8]
list.clear()
print(list)

[]

In [7]:
looplist = ["mumbai", "pune", "goa", "surat"]
for i in range(len(looplist)):
    print(looplist[i])

mumbai
pune
goa
surat

In [4]:
whilelist=["mumbai", "pune","gujrat"]
a = 0
while a < len(whilelist):
    print(whilelist[a])
    a = a + 1

mumbai
pune
gujrat

In [10]:
color = ["red","black","orange","maroon"]
newlist= []

for x in color :
    if "a" in x:
        newlist.append(x)
    print(x)

red
black
orange
maroon

In [11]:
a = [7,6,9,20,67,43,12,98]
a.sort()
print(a)

[6, 7, 9, 12, 20, 43, 67, 98]

In [6]:
mylist = ["nida","misbah", "shaista"]
x = 0
while x< len(mylist):   
    print(mylist[x])
    x = x +1

nida
misbah
shaista

In [14]:
mylist = ["red","blue","black"]
[print (x) for x in mylist]

red
blue
black

[None, None, None]

In [22]:
mylist = ["red", "blue","black","green"]
newlist = []
for x in mylist:
    if "e" in x:
        newlist.append(x)
        print(x)

red
blue
green

In [2]:
mylist = ["red", "blue","black","green"]
newlist = [x for x in mylist if "e" in x]
print(newlist)

['red', 'blue', 'green']

In [31]:
mylist = ["mango","charry","kiwi","banana"]
newlist = [x for x in mylist if x!= "banana"]
print(newlist)

['mango', 'charry', 'kiwi']

In [33]:
mylist = [a for a in range(21)]
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [1]:
mylist = [ x for x in range(20)if x >10]
print(mylist)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
a = [5,6,7,9,2]
for i in a:
    b = i**3
    print(b)

125
216
343
729
8

In [17]:
a = [7,4, 5,2,9,8]
for i in a:
    b = i**3
    print(b)

343
64
125
8
729
512

In [1]:
for i in range(1,11):
    if i > 0:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = {1,2,3}
a.discard(4)
print(a)

In [14]:
a=list(("iram","sayyed"))
print(a)
print(type(a))

['iram', 'sayyed']
<class 'list'>

In [3]:
number_list = []
n = int(input("enter the list num "))
print(n)
for i in range(0,n):
    print("enter number at index", i,)
    item = int(input())
    number_list.append(item)
print("user list is", number_list)

enter the list num 4
4
enter number at index 0
5
enter number at index 1
7
enter number at index 2
78
enter number at index 3
98
user list is [5, 7, 78, 98]

In [ ]:
input_string = input("enter the element of list separted by space ")
print("\n")
user_list = input_string.split()
print("list:", user_list)
for i in range(len(user_list)):
    user_list[i] = int(user_list[i])
print(user_list)

#####