# table

In [16]:
for i in range(1,11):
    a = i*3
    print(a)

3
6
9
12
15
18
21
24
27
30

In [52]:
for a in range(1,11):
    b = a*4
    print(b)

4
8
12
16
20
24
28
32
36
40

In [20]:
def table(a):
    for x in range(1,11):
        b = x*a
        print(a,'*',x ,'=',b)
table(6)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [5]:
a = "my name misbah"
print(a[2:7])

 name

In [57]:
def buildArray(self, nums):
        a = [0,2,1,5,3,4]
        b = []
        for x in nums:
            z = nums[x]
            b.append(z)
            print(b)
        return(b)

In [7]:
a = [[1,2,9],[3,2,1]]
b = []
for x in a:
    b.append(sum(x))
print(max(b))

12

# Reduce function

In [16]:
from functools import reduce

def myfunc(a,b):
    return a+b
l = [4,6,7,2]
c = reduce(myfunc,l)
print(c)

19

In [20]:
from functools import reduce

def func_num(a,b):
    return a*b
listt =[2,4,7,3]
c = reduce(func_num,listt)
print(c)

168

# Filter function

In [1]:
 def myfunc(n):
        if n>3:
            return True
l = [3,57,87,87,45,23,98,6,1,3] 
output = list(filter(myfunc, l))
print(output)

[57, 87, 87, 45, 23, 98, 6]

In [11]:
def num_func(x):
    if x<8:
        return True
y = [3,6,78,2,9,30]
var = list(filter(num_func,y))
print(var)

[3, 6, 2]

# zip function

In [7]:
name = ["misbah","afreen","nida"]
lastname = ["khan","manihar","shaikh"]
print(dict(zip(name,lastname)))

{'misbah': 'khan', 'afreen': 'manihar', 'nida': 'shaikh'}

In [13]:
a = "hello world"
print (a.split())
for i in a:

['hello', 'world']

In [57]:
# find the highest no

In [16]:
a = [3,5,7,86,23,65]
b =0
for i in a:
    if i>b:
        b=i
print(b)

86

In [63]:
a = [3,5,6,78,4]
b = 0
for i in a:
    if i >b:
        b = i
print(b)

78

In [56]:
# lowest no

In [61]:
a = [3,4,7,8,56,76,0.5]
b = 3

for i in a:
    if i <b:
        b=i
print(b)

0.5

# cube with list

In [54]:
a = [5,6,7,9,2]
for i in a:
    b = i**3
    print(b)

125
216
343
729
8

# lambda

In [4]:
x = lambda a ,b,c : a + b + c
print(x(4,5,6))

15

In [6]:
def func(a,b):
    print(a * b)
func(5,7)

35

In [29]:
names = ["misabh","nida","afreen","zikra"]
newlist = []
for i in names:
        newlist.append(i)
print(newlist)

['misabh', 'nida', 'afreen', 'zikra']

In [32]:
newlist = ["red", "blue","black"]
newlist.insert(1,"white")
print(newlist)

['red', 'white', 'blue', 'black']

In [34]:
mylist = ["red","blue","black"]
mylist.append("green")
print(mylist)

['red', 'blue', 'black', 'green']

In [35]:
newlist = ["red", "blue","black"]
list = ("gray","green")
mylist.extend(list)
print(mylist)

['red', 'blue', 'black', 'green', 'gray', 'green']

In [40]:
newlist = ["red","blue","green","white"]
i = 0
while i < len(newlist):
    print(newlist[i])
    i = i + 1

red
blue
green
white

In [1]:
nlist = ["a","b","c","d"]
a = 0
while a < len(nlist):
    print(nlist[a]) 
    a = a +1

a
b
c
d

#uniquee no in given list

In [51]:
a = [3,5,4,7,3,5]
b = 0                                           #xor use to fine uniquee no
for i in a:
    b^=i 
print(b)

3

In [53]:
a = [4,90,83,4,83]
b =0
for i in a:
    b ^=i
print(b)

90

In [40]:
a = [3,5,7,8,3,5]
for i in a:
    if a.count(i)==1:
        print(i)

7
8

In [45]:
a = [2,4,6,4,2,7]
for i in a:
    if a.count(i)==1:
         print(i)

6
7

# cube

In [62]:
for i in range(1,11):
    b =i**3
    print(b)

1
8
27
64
125
216
343
512
729
1000

In [82]:
a = [45,1,89,76,23,42,2,3]
b = 45
for i in a:
    if i< b:
        b = i
print(b)

1

# slicing steping

In [9]:
days = "mon, tue, wed, thu, fri, sat, sun"
print(days[::5])

mtwtfss

In [12]:
names = "misabh, afreen, nida, aqsa"
print(len(names))
print(names[::4])

26
mbaen,s

# sort the list without useing sort method

In [9]:
a = [4,5,3,1,2,6]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i>0:
        a[i-1],a[i] = a[i],a[i-1]
        i = i - 1
print(a)

[1, 2, 3, 4, 5, 6]


# swap method and find second highest number

In [21]:
a =[2,8,5,9,3,1]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i >0:
        a[i-1],a[i] = a[i],a[i-1]
        i = i - 1
        
#print(a)
print(a[-2])         # to find highest no use indexing method

8

# even and odd number

In [53]:
num = int(input("enter int number"))
remainder = num %2
if (remainder == 0):
    print(num,"is an even num")
else:
        print(num,"is an odd num")

enter int number23
23 is an odd num

# list second highest no

In [58]:
a = [3,34,78,45,]
b = []
for i in a:
    if i>0:
        b = i

print(b)

45

In [ ]:
#list lowest no

In [59]:
a = [0.2,3,8,6,1]
b = 0
for i in a:
    if i<0:
        b = i
print(b)

3

In [4]:
# function question

In [1]:
def add(a,b):
    result = a + b
    return result
def new_func(c):
    return c*6
    

add(2,4)
s = new_func(6)
print(s)

36

In [53]:
def myfucn(number1,number2):
    return number1 + number2

result = (my_func(3,5))
print(result)

8

In [23]:
def get_even(numbers):
    even_nums = [num for num in numbers if not num % 2]
    return even_nums

a = get_even([1,2,3,4,5,8])
print(a)

[2, 4, 8]

In [70]:
# function return value

In [69]:
def my_add(a,b):
    sum = a + b
    return sum
def new_func(z):
    return z*x

x = my_add(3,4)
print(x)
    
y = new_func(7)
print(y)

7
49

In [79]:
def my_func(a,b):
    nums = a - b
    return nums
def new_func(x):
    return x *5

my_func(8,3)

new_func(5)

25

In [22]:
def get_odd(numbers):
    odd_nums = [num for num in numbers if num % 2==1]
    return odd_nums

a = get_odd([2,4,7,5,8,1,3])
print(a)

[7, 5, 1, 3]

In [34]:
def my_func(numbers):
    odd_nums=[num for num in numbers if  num % 2 ==1]
    return odd_nums                                                                    # 2==1 define the even     
                                                                                        # 2==0 define the odd
a = my_func([2,3,5,7,8,4])
print(a)

[3, 5, 7]

In [37]:
def mun_func():
    print("hello")
mun_func()

hello

In [49]:
def my_func(a):
    print(a * 7)
    
my_func(3) 
my_func(8)
my_func(9)

21
56
63

In [67]:
a = {"a":1,"b":2,"c":3}
# a.update({"b":5})
print(a["c"])
a["b"]="anam"
print(a)

3
{'a': 1, 'b': 'anam', 'c': 3}

In [59]:
a={}
print(type(a))

<class 'dict'>

In [63]:
a = set()
print(type(a))

<class 'set'>

In [3]:
a = "khan misbah naeem"
print(a[::4])

k bnm

In [5]:
a = ["misnah","nida","aqsa"]
a.insert(1,"sadiya")
print(a)

['misnah', 'sadiya', 'nida', 'aqsa']

In [6]:
a = ["misnah","nida","aqsa"]
b = [ "affan","hassan","taha"]
a.extend(b)
print(a)

['misnah', 'nida', 'aqsa', 'affan', 'hassan', 'taha']

In [8]:
a = ["misnah","nida","aqsa"]
a.pop(2)
print(a)

['misnah', 'nida']

In [9]:
a = ["misnah","nida","aqsa"]
a.remove("nida")
print(a)

['misnah', 'aqsa']

In [14]:
 mylist = ["misbah","nida","aqsa"]
for i in mylist:
    print(i)

misbah
nida
aqsa

In [16]:
mylist = ["misbah","nida","aqsa"]
for i in range(len(mylist)):
    print(mylist[i])

misbah
nida
aqsa

In [17]:
for i in range(1,11):
    if i > 0:
        print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
 mylist = ["misbah","nida","aqsa"]
a = 0
while a <len(mylist):
    print(mylist[a])
    a = a + 1

misbah
nida
aqsa

In [25]:
mydict = {i:f"item {i}" for i in range(1,100) if i%100==0}
print(mydict)

{}

# To create 5 different list using list comprehension method.

In [8]:
a = ["red","black","blue","green","white"]
b = [i for i in a if "e" in i]
c = [i for i in a if "b" in i ]
print(c)
print(b)

['black', 'blue']
['red', 'blue', 'green', 'white']

# odd & even useing list comprehension

In [39]:
a = [2,4,7,9]
b = ["Even" if i%2==0 else "Odd" for i in a]
print(b)

['Even', 'Even', 'Odd', 'Odd']

In [44]:
x =[3,8,5,4,9]
y = ["even" if i %2==0 else "odd" for i in a ]
print(y)

['even', 'even', 'odd', 'odd']

# Create list , add random 10 numbers in list and print largest number of list.

In [54]:
a = [1,2,3,4,5,6,7,8,9,10]
b = []
for i in a:
    b = i
print(b)

10

# To check whether a given number is present in list or not?

In [63]:
a = [23,87,58,3,2,4]
if i in a:
    print("yes ")
else:
    print("no")

yes

# To demonstrate any 10 methods of List

In [65]:
x = ["a","b","c","d"]
x.append("e")
print(x)

['a', 'b', 'c', 'd', 'e']

In [79]:
x = [1,2,4,5,7,8]
y = x.copy()
print(y)

[1, 2, 4, 5, 7, 8]

In [80]:
mylist = [76,90,54,32]
mylist.clear()
print(mylist)

[]

In [89]:
a = [3,8,9,4,3,4,3]
b = a.count(3)
print(b)

3

In [94]:
a = ["misbah","aqsa","nida"]
x = ["zikra","afreen"]
a.extend(x)
print(a)

['misbah', 'aqsa', 'nida', 'zikra', 'afreen']

In [95]:
a = [3,5,9,7,5,1]
a.sort()
print(a)

[1, 3, 5, 5, 7, 9]

In [98]:
a = ["a","b","c","d"]
a.insert(3,"e")
print(a)

['a', 'b', 'c', 'e', 'd']

In [101]:
a = [3,4,5,7,8]
a.pop(1,)
print(a)

[3, 5, 7, 8]

In [102]:
x =["a","b","c"]
x.remove("c")
print(x)

['a', 'b']

In [107]:
z = [2,3,6,9,1]
z.reverse()
print(z)

[1, 9, 6, 3, 2]

# To add two list [ adding elements of list ]

In [108]:
a = ["red","blue","black"]
b =["orange","kiwi","banana"]
a.extend(b)
print(a)

['red', 'blue', 'black', 'orange', 'kiwi', 'banana']

# To sort a given number list in ascending order using functions.

In [136]:
a = [3,4,7,8,2,1]
for i in range(1,len(a)):
    while a[i-1]>a[i] and i>0:
        a[i-1],a[i]=a[i],a[i-1]
        i = i-1
print(a)

[1, 2, 3, 4, 7, 8]